:local(.this) {
    padding: 7px;
    margin: 10px;
}

:local(.header) {
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

:local(.minionlabel) {
    padding-right: 4px;
}

:local(.button) {
    display: inline-block;
    padding: 4px;
}

:local(.body) {
    > * {
        padding: 4px;
    }
}
