:local(.this) {
    padding: 7px;
    margin: 10px;

    .header {
        margin: 4px;
    }

    .header-col {
        display: inline-block;
        width: 33%;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .summary {
        padding: 4px;
    }

    .body-element {
        margin: 4px;
    }
}

:local(.button) {
    display: inline-block;
    padding: 4px;
}
